/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{
    font-size: 62.5%;
}

body{
    font-family:"Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    padding: 3rem;

}

.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom, #7ed56fcc,#28b485dd), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

}
.logo{
    height: 5rem;
    margin-top: 3rem;
    margin-left: 3rem;
}

.text-box{
    position: absolute;
    top:33%;
    left:25%;
    text-align: center;
}

.heading-primary-main{

    color: white;
    text-transform: uppercase;
    display:block;
    font-weight:400;
    font-size:8rem;
    letter-spacing: 4rem;
    animation-name: moveLeft;
    animation-duration: 1s;
}

.heading-primary-sub{
    color: white;
    text-transform: uppercase;
    display:block;
    font-size:2rem;
    letter-spacing: 10px;
    animation-name: moveRight;
    animation-duration: 1s;
    margin-bottom:4rem;
    
}

@keyframes moveLeft{
    0% {
        opacity: 0;
        transform:translateX(-100px);
    }

    80% {
        opacity: 0.8;
        transform: translateX(8px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
} 

@keyframes moveRight{
    0%{
    opacity: 0;
    transform:translateX(100px);
    }
    80% {
        opacity: 0.8;
        transform:translateX(-8px);
    }
    100%{
        opacity: 1;
        transform:translateX(0);
    }
}

.btn:link,
.btn.visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
}

.btn:hover{
    transform:translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}
.btn:active{
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
}
.btn-white{
    background-color: #fff;
    color: #777;
    font-size: 1.5rem;
    animation-name: moveUp;
    animation-duration: 1s;

}
@keyframes moveUp{
        0%{
            transform: translateY(3rem);
            opacity: 0;
        }   
        100%{
            transform:translateY(0);
            opacity: 1;
        }
}